.App {

  text-align: center;
}

.body {
  background: #282c34;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.footer {
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 0;
}

.no-results {
  font-size: larger;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  padding-top: 40px;
}

.no-results img {
  max-width: 130px;
  max-height: 150px;
  padding-top: 30px;
}

.loading-spinner {
  justify-content: center;
  align-items: center;
  height: 400vh;
  width: 250px;
  margin-top: 150px;
  height: 250px;

}