.searchBox {
    background-color: #222;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    opacity: 0.7;
    transition: opacity 1s;
    border-color: white;
    color: white;
}

.search-elements {
    animation: slideInFromLeft 0.5s forwards;
}

.autocomplete-paper.MuiAutocomplete-paper {
    background-color: rgba(0, 0, 0, 0.8);
    /* Black with some opacity */
    color: white;
}

.autocomplete-paper .MuiAutocomplete-option:hover,
.autocomplete-paper .MuiAutocomplete-option[data-focus='true'] {
    background-color: rgba(225, 230, 86, 0.2);
}

.searchBox .MuiAutocomplete-root {
    width: 100%;
}

/* Define the default border thickness */
.searchBox .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-width: 2px;
}

/* Define border thickness on hover */
.searchBox .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-width: 2px;
}

.searchBox .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-width: 2px;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 0.9;
    }
}

.searchBoxIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 3em;
    justify-content: center;
    transition: width 0.4s ease, borderRadius 0.4s ease;
}

.searchBoxIcon>svg {
    margin: 0 8px;
    z-index: 2;
}

.searchBoxInput {
    width: 0;
    opacity: 0;
    right: 0;
    z-index: 1;
}

.searchBoxInputVisible {
    width: 100%;
    opacity: 1;
}

@media (max-width: 768px) {
    .searchBox {
        background-color: #222;
        padding: 5px;
        width: 70%;
        border-radius: 5px;
        opacity: 0.5;
        transition: opacity 1s;
        border-color: white;
        color: white;
    }
}

.smallFont {
    font-size: 8px;
}

.largeFont {
    font-size: 16px;
}